<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CineVerse - Популярное</title>
  <link rel="stylesheet" href="/public/view/style.css">
</head>
<body>
<header class="header">
</header>

<main class="popular-releases">
  <h1 class="section-title">Популярные фильмы <span class="new-badge">2024</span></h1>

  <section class="movies-grid" id="popularMoviesContainer">
    <div class="popular-movies">
      <h2>Топ просматриваемых</h2>
      @foreach($movies as $movie)
      <div class="movie-card">
        <img src="{{ $movie['poster'] }}" alt="{{ $movie['title'] }}" class="movie-poster">
        <div class="movie-info">
          <h3 class="movie-title">{{ $movie['title'] }}</h3>
          <div class="movie-rating">★ {{ $movie['rating'] }}</div>
          <p>Количество просмотров {{$movie['views']}}</p>
        </div>
      </div>
      @endforeach
    </div>
  </section>
</main>

</body>
</html>